<h2>{{title}}</h2>
<div
  *ngIf="gamesStreamsViewersCount$ | async; let gamesStreamsViewersCount; else spinner"
>
  <ng-container *ngFor="let game of gamesStreamsViewersCount">
    <mdb-badge
      color="purple darken-2"
      class="mr-2 mb-3"
      [mdbTooltip]="game.name + ' Stream Viewers Count'"
      >{{ game.abrev }} - {{ game.viewersCount }}</mdb-badge
    >
  </ng-container>
  <ubisoft-dna-tech-project-linechart
    label="Games Streams Viewers Count"
    [data]="gamesStreamsViewersCount | pluck: 'viewersCount'"
    [dataLabels]="gamesStreamsViewersCount | pluck: 'name'"
  ></ubisoft-dna-tech-project-linechart>
</div>
<ng-template #spinner>
  <div class="spinner-border text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
