/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh !important;
  background-color: #2a0d3c !important;
  color: #c8b7d2 !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900 !important;
  color: #c078ea !important;
}
